body {
    line-height: $base-line-height;
    font-family: $base-font-family;
    font-weight: 100;
    font-size: $base-font-size;
    color: #333;
}

.container {
    max-width: $page-width;
    margin: 0 auto;
    padding: 0 $half-spacing;
}

//ICONS
[class^="icon-"],
[class*=" icon-"] {
    span {
        position: absolute;
        left: -9999px;
    }
}

svg {
    display: inline-block;
    fill: currentColor !important;
    vertical-align: middle;

    &.svg-icon {
        height: 1em;
        width: 1em;
    }
}

hr {
    border: none;
    border-top: 1px dotted #ccc;
}

.site-body {
    position: relative;

    &.overlay {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($black, .8);
            z-index: 1;
        }
    }
}