body {
  line-height: 1.5;
  font-family: $base-font-family;
  font-weight: 100;
  font-size: 14px;
  color: #333;
}

.container {
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 10px;
  @media screen and (min-width: $lap-start) {
    padding: 0 $half-spacing;
  }
}

h1, h2, h3 {
  line-height: 1;
  font-family: $header-font-family;
  font-weight: 100;
  color: $secondary-colour;
  font-weight: 100;
}

h1 {
  font-size: 36px;
  margin-bottom: $base-spacing;
}

h2 {
  font-size: 24px;
  margin-bottom: $base-spacing;
}

h3 {
  font-size: 18px;
  padding-top: $half-spacing;
  margin-bottom: $half-spacing;
  color: $black;
}

h4 {
  font-size: 16px;
  padding-top: $half-spacing;
  margin-bottom: $half-spacing;
  font-style: italic;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: $base-spacing;

  a {
    font-size: 13px;
  }
}

ul, ol {
  margin-bottom: $base-spacing;
}

li {
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: $secondary-colour;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


.link {
  border: 1px solid $secondary-colour;
  border-radius: 4px;
  padding: 8px;

  &:hover {
    background: lighten($secondary-colour, 8);
    text-decoration: none;
    color: white;
  }
}

.button {
  padding: $half-spacing 45px;
  background: $secondary-colour;
  color: $white;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  position: relative;
  transition: ease all .3s;
  border-radius: 45px;

  &:hover {
    transform: scale(1.05);
    background: darken($secondary-colour, 15);
    text-decoration: none;
  }

}


//ICONS
[class^="icon-"],
[class*=" icon-"] {
  span {
    position: absolute;
    left: -9999px;
  }
}

svg {
  display: inline-block;
  fill: currentColor !important;
  vertical-align: middle;

  &.svg-icon {
    height: 1em;
    width: 1em;
  }
}

pre {
  border-radius: 0;
  background-color: #f8f8f8;
  display: block;
  padding: 9.5px;
  margin: 0 0 $base-spacing;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  border: 1px solid #e7e7e7;
  border-radius: 4px;

  code {
    background-color: #f8f8f8 !important;
  }
}

:not(pre) > code {
  font-size: 90%;
  background-color: #f8f8f8;
  padding: 2px 4px;
  border-radius: 4px;
  color: #0E90B2;
}

.note {
  padding: 15px;
  border-left: 4px solid transparent;
  a {
    font-weight: bold;
  }
}

.note-success {
  color: #3c763d;
  border-color: #d6e9c6;

  &:hover {
      background-color: #dff0d8;
  }
}

.note-warning {
  color: #a94442;
  border-color: #ebccd1;

  &:hover {
      background-color: #f2dede;
  }
}

.note-info {
  color: #31708f;
  border-color: #bce8f1;

  &:hover {
      background-color: #d9edf7;
  }
}

hr {
  border: none;
  border-top: 1px dotted #ccc;
}

.tabs-container {
  float: none;
  list-style: none;
  padding: 0px;
  margin: 75px auto;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .tabs-menu {
    padding-left: 0px;
    list-style: none;

    li {
      display: block;
      float: left;
      width: 25%;

      font-weight: normal;
      text-decoration: none;
      text-align: center;
      line-height: 2;
      cursor: pointer;
      border-bottom: 1px solid #ccc;

      a {
        color: $black;
        display: block;
        @media (min-width: 768px) {
          font-size: 18px;
        }

        &:hover {
          text-decoration: none;
        }
      }

      &:hover:not(.active) {
        border-bottom: 1px solid $secondary-colour;
        margin-bottom: -1px;
      }
    }

    .active {
      border-top: 2px solid $secondary-colour;
      margin-top: -2px;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom: 0px;
    }
  }

  .tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  #tab-1 {
    display: block;
  }

  @media (min-width: 768px) {
    font-size: 18px;
    max-width: 750px;
    margin: 50px auto;
  }
}

.tab-content * {
    -webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
}
