body {
  line-height: 1.5;
  font-family: $base-font-family;
  font-weight: 100;
  font-size: 14px;
  color: $black;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  @media screen and (min-width: 600px) {
    padding: 0 $half-spacing;
  }
}

h1, h2, h3 {
  line-height: 1;
  font-family: $header-font-family;
  font-weight: 100;
  color: $secondary-colour;
  font-weight: 100;
}

h1 {
  font-size: 36px;
  margin-bottom: $base-spacing;
}

h2 {
  font-size: 24px;
  margin-bottom: $base-spacing;
}

h3 {
  font-size: 18px;
  padding-top: $half-spacing;
  margin-bottom: $half-spacing;
  color: $black;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: $base-spacing;
}

ul, ol {
  margin-bottom: $base-spacing;
}

li {
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: $secondary-colour;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  padding: $half-spacing 45px;
  background: $secondary-colour;
  color: $white;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  position: relative;
  transition: ease all .3s;
  border-radius: 45px;

  &:hover {
    transform: scale(1.05);
    background: darken($secondary-colour, 15);
    text-decoration: none;
  }

}


//ICONS
[class^="icon-"],
[class*=" icon-"] {
  span {
    position: absolute;
    left: -9999px;
  }
}

svg {
  display: inline-block;
  fill: currentColor !important;
  vertical-align: middle;

  &.svg-icon {
    height: 1em;
    width: 1em;
  }
}

pre {
  border-radius: 0;
  background-color: #f8f8f8;
  display: block;
  padding: 9.5px;
  margin: 0 0 $base-spacing;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  border: 1px solid #e7e7e7;
  border-radius: 4px;

  code {
    background-color: #f8f8f8 !important;
  }
}

.note {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  a {
    font-weight: bold;
  }
}

.note-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.note-warning {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.note-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
