.button {
  padding: $half-spacing 45px;
  background: $secondary-colour;
  color: $white;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  position: relative;
  transition: ease all .3s;
  border-radius: 45px;

  &:hover {
    transform: scale(1.05);
    background: darken($secondary-colour, 15);
    text-decoration: none;
  }

}