@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss";

$dark-bg: #001E27;
$light-bg: #2c3e50;
$light: #f8f9fa;
$blue: #2980b9;
$green: #27ae60;
$grey: #7f8c8d;
$orange: #f39c12;
$red: #c0392b;
$faded: transparentize($light, 0.6);

$base-spacing: 1.5em !default;
$desktop: new-breakpoint(min-width 992px 12);

body {
    font-family: $monospace;
    background-color: $light-bg;
    color: $light;
    font-size: .9em;
}

header {
    text-align: center;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
    color: $light;
    text-align: center;
    margin-top: 0;
    margin-bottom: $base-spacing;

    &:after {
        content: "";
        display: block;
        border: 1px solid $faded;
        margin: 1em auto 0;
        width: 5em;
    }
}

.asciicast {
    text-align: center;
}

section {
    &.help {
        padding: 5%;
        text-align: center;
    }

    &.dark-wrap {
        background-color: $dark-bg;
        padding: 5%;
        margin: $base-spacing*2 auto;

        div.container {
            @include outer-container;
        }
    }

    &.mission {
        text-align: center;
    }

    &.contributors {
        background-color: $dark-bg;

        figure {
            @include span-columns(6);
            text-align: center;
            margin: 0 0 2em;
            padding: 0;

            a {
                text-decoration: none;
            }

            img {
                border: solid .3em $light;
                @include border-top-radius(50%);
                @include border-bottom-radius(50%);
                @include size(70%);
            }

            figcaption {
                font-size: 2em;
                margin: .5em 0;
                color: $faded;
            }
        }
    }

    &.workshops {
        padding: 5%;
        clear: both;

        &.dark-wrap .workshop {
            background-color: $light-bg;
        }

        .workshop {
            margin-bottom: $base-spacing;
            height: 8em;
            padding: 0 3em;
            clear: both;
            @include border-top-radius(1em);
            @include border-bottom-radius(1em);
            background-color: $dark-bg;

            p {
                font-size: 2.5em;
                float: left;
            }

            .workshop-img {
                float: right;
                @include size(5em);
                margin-top: 1.5em;

                svg {
                    fill: $light;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.terminal-wrapper {
    @include outer-container(90%);

    &:not(.joined) {
        margin: 0 auto 2em;
    }

    &.joined {
        &:after {
            content: "";
            display: block;
            height: 5em;
            width: .5em;
            background-color: $dark-bg;
            margin: 0 auto;
        }
    }

    .terminal-statusbar {
        background-color: $light;
        @include border-top-radius(1em);
        height: 4em;
        padding: 1em;

        h3 {
            font-size: 2em;
            color: $dark-bg;
            margin: 0;

        }

        span {
            display: block;
            float: left;
            @include size(2em);
            margin-right: 1em;
            @include border-top-radius(2em);
            @include border-bottom-radius(2em);

            &.red {
                background-color: $red;
            }

            &.orange {
                background-color: $orange;
            }

            &.green {
                background-color: $green;
            }
        }
    }

    .terminal-content {
        padding: 2em;
        background-color: $dark-bg;
        @include border-bottom-radius(1em);

        p {
            color: $faded;
            margin-bottom: .2em;

            &.command {
                &:before {
                    content: "$ ";
                    color: $faded;
                }
            }

            &.title {
                font-weight: bold;
            }

            &.highlight {
                color: transparentize($orange, 0.2);
            }
        }
    }
}

.footer {
    background: $light-bg;
    padding: ($base-spacing * 2) $gutter;
    width: 100%;

    &:before {
        content: "";
        display: block;
        border: 1px solid transparentize($faded, 0.3);
        margin: 0 auto $base-spacing * 2;
        width: 20em;
    }

    nav {
        margin-bottom: 2em;
        text-align: center;
        @include outer-container(100%);

        a {
            display: block;
            @include span-columns(4);

            @include media($desktop) {
                height: 2em;
                width: 2em;
                margin: 0 1em;
            }
        }

        .svg-icon {
            @include size(50%);
            fill: $light;

            &:hover {
                fill: $faded;
            }

            @include media($desktop) {
                width: 100%;
                height: 100%;
            }
        }
    }

    p {
        color: $faded;
        margin: auto;
        max-width: 35em;
        text-align: center;
    }
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: initial;
}

@include media($desktop) {
    .desktop-only {
        display: initial;
    }

    .mobile-only {
        display: none;
    }
}
