.parameters {
  margin-left: 8px;

  p {
    margin-bottom: 5px;
  }
}

.class__doc {
  font-size: 24px;
  margin: 0;
  line-height: 1;
}

.param__typehint {
  font-size: 100%;
  color: #A83838;
  background-color: #f8f8f8;
  padding: 2px 4px;
  border-radius: 4px;
}

.method-list {
  padding: 10px 30px 10px;
}

.method-list-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #939da3;
}

.method-list-group {
  margin-top: 8px;
  border-top: 1px solid #e1e8ed;
  list-style: none;
}

.method-list-item {
  overflow: hidden;
  padding: 17px 0;
  border-bottom: 1px solid #f0f4f7;
  line-height: 24px;
  margin-bottom: 0px;
}

.method-list-item-label {
  color: #292e31;
  padding-top: 0px;
  position: relative;
  z-index: 5;
  float: left;
  text-align: right;
  width: 130px;
  font-size: 13px;
  line-height: 21px;
  word-break: break-all;
  white-space: normal;
  margin-bottom: 0px;
}

.service-list-item-label {
  padding-top: 0px;
  position: relative;
  z-index: 5;
  font-size: 17px;
  line-height: 21px;
  word-break: break-all;
  white-space: normal;
  margin-bottom: 10px;
  font-weight: bold;
}

.method-list-item-description {
  position: relative;
  z-index: 10;
  background: #fff;
  margin: 0 0 0 150px;
  font-size: 13px;
  line-height: 21px;

}

.service-list-item-description {
  position: relative;
  z-index: 10;
  background: #fff;
  font-size: 13px;
  line-height: 21px;
  margin: 0px;
}


.type {
  display: block;
  color: #939da3;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  word-break: normal;
  padding-top: 4px;
  padding-bottom: 4px;
}

.doc-terminal-screen {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $base-spacing;
}

.exercise__type__info {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
  margin-bottom: $base-spacing + 10;

  th, td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: .85714286rem;
  }
}

.docs__std__list {
  padding-left: 30px;
  padding-bottom: 20px;

  li {
    margin-bottom: 4px;
  }
}

.docs__std__list__note {
  padding-left: 30px;
  padding-bottom: 0px;

  li {
    margin-bottom: 4px;
  }
}

ul.docs__std__list__note {
  margin-bottom: 0px;
}

.doc__controls {
  display: flex;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px dotted #ccc;
}

.doc__previous {
  width: 40%;
  text-align: left;
}

.doc__home {
  width: 20%;
  text-align: center;
}

.doc__next {
  width: 40%;
  text-align: right;
}

.doc__link__icon {
  color: black;
  padding-top: 6px;
  padding-right: 8px;
  padding-left: 0px;
  float: left;
}

.doc__title {
  border-bottom: 1px dotted $silver;
  padding-bottom: $half-spacing / 2;
  display: inline-block;
  align-items: center;
  text-align: left;
  margin-top: $base-spacing * 2;
  padding-right: 45px;

  width: 100%;
  position: relative;

  .edit-on-gh {
    display: none;
    @media screen and (min-width: 500px) {
      display: inline;
      font-size: 24px;
      padding-bottom: 2px;
      color: #ccc;
      margin-left: 4px;

      :hover {
        color: #e91e63;
      }

      .svg-icon {
        height: 0.7em;
      }
    }
  }

  .anchor {
    display: inline-block;
    margin-left: 5px;
    color: #ccc;
    font-size: 24px;
    margin-bottom: 0px;
  }

  .back-to-top {
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 14px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.content__header {
  border-bottom: 1px dotted $silver;
  padding-bottom: $half-spacing / 2;
  display: inline-block;
  align-items: center;
  text-align: left;
  margin-top: $half-spacing;
  padding-right: 45px;
  font-size: 20px;
  margin-bottom: $base-spacing;
  color: $black;

  width: 100%;
  position: relative;

  .anchor {
    display: inline-block;
    margin-left: 5px;
    color: #ccc;
    font-size: 24px;
    margin-bottom: 0px;
  }

  .back-to-top {
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 14px;
  }

  &:first-child {
    margin-top: 0;
  }
}

dl.check-description {
  width: 100%;
  overflow: hidden;
  margin-bottom: $base-spacing;
  border-radius: 4px;
  padding: 8px;

  dt {
    font-style: italic;
    @media screen and (min-width: 840px) {
      float: left;
      width: 30%;
    }
  }

  dd {
    @media screen and (min-width: 840px) {
      float: left;
      width: 70%;
    }
  }
}

#search {
  width: 100%;
  height: 50px;
  text-align: center;

  #search-input {
    background-image: url(/img/search-icon.png);
    background-repeat: no-repeat;
    background-position: 98%;
    font-size: 16px;
    color: #333;
    height: 50px;
    width: 100%;
    padding: 10px;
    border: 2px solid $secondary-colour;

    &:focus {
      outline: none;
    }
  }
}


.doc__api-param-table {
  padding: 8px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;

  th, td {
    //border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 15px;
    font-size: .85714286rem;
  }

  .col-one {
    width: 200px;
  }
}

