.parameters {
  margin-left: 8px;

  p {
    margin-bottom: 5px;
  }
}

.class__doc {
  font-size: 24px;
  margin: 0;
  line-height: 1;
}

.param__typehint {
  font-size: 100%;
  color: #A83838;
  background-color: #f8f8f8;
  padding: 2px 4px;
  border-radius: 4px;
}

.back-to-top {
  float: right;
}

.method-list {
  padding: 30px 0px 0;
}

.method-list-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #939da3;
}

.method-list-group {
  margin-top: 8px;
  border-top: 1px solid #e1e8ed;
  list-style: none;
}

.method-list-item {
  overflow: hidden;
  padding: 17px 0;
  border-bottom: 1px solid #f0f4f7;
  line-height: 24px;
  margin-bottom: 0px;
}

.method-list-item-label {
  color: #292e31;
  padding-top: 0px;
  position: relative;
  z-index: 5;
  float: left;
  text-align: right;
  width: 130px;
  font-size: 13px;
  line-height: 21px;
  word-break: break-all;
  white-space: normal;
  margin-bottom: 0px;
}

.method-list-item-description {
  position: relative;
  z-index: 10;
  background: #fff;
  margin: 0 0 0 150px;
  font-size: 13px;
  line-height: 21px;
}

.type {
  display: block;
  color: #939da3;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  word-break: normal;
}

.doc-terminal-screen {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.exercise__type__info {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
  margin-bottom: $base-spacing + 10;

  th, td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: .85714286rem;
  }
}
