.help {
  display: flex;
  flex-wrap: wrap;
  padding: $base-spacing*2 0;
  border-bottom: 1px dotted $silver;
}

.help__icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $base-spacing;

  .svg-icon {
    width: 3em;
    height: 3em;
    color: $black;
  }

  @media screen and (min-width: $lap-start) {
    width: 33.33%;
    margin-bottom: 0;
  }
}

.help__info {
  width: 100%;
  @media screen and (min-width: $lap-start) {
    width: calc(66.66% - #{$base-spacing});
  }
  //h2, p {
  //    text-align: center;
  //
  //    @media screen and (min-width: $lap-start) {
  //      text-align: left;
  //    }
  //}
  //
  //p {
  //  margin-bottom: 0;
  //}

}
