.inspiration {
  padding: $base-spacing*2 0;
  background-color: $base-colour;
  background-image: url(/img/svg/header-bg.svg);
  background-size: cover;
}

.inspiration__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$base-spacing;
  color: $white;
}

.inspiration__title {
  color: $white;
}

.inspiration__image {
  padding-left: $base-spacing;
  width: 100%;
  margin-bottom: $base-spacing;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    width: 30%;
    @media screen and (min-width: $lap-start) {
      width: 50%;
    }
  }

  @media screen and (min-width: $lap-start) {
    width: 33.33%;
    margin: 0;
  }
}

.inspiration__info {
  padding-left: $base-spacing;
  width: 100%;
  text-align: center;

  @media screen and (min-width: $lap-start) {
    width: 66.66%;
    text-align: left;
  }
}
