.docs {
  display: flex;
  flex-wrap: wrap;
}

.doc__content {
  width: 70%;
  padding-top: $base-spacing;
  margin-left: auto;
}

.doc__title {
  border-bottom: 1px dotted $silver;
  padding-bottom: $half-spacing/2;
  margin-top: $base-spacing*2;

  &:first-child {
    margin-top: 0;
  }
}

.doc__side {
  width: 30%;
  padding-top: $base-spacing;
  padding-right: $base-spacing*2;
  display: flex;
  flex-direction: column;
}

.doc__side--fixed {
  position: fixed;
  top: 0;
}

.doc__side-item {
  width: 100%;
  margin: 0;
}

.doc__side-link {
  padding: $half-spacing 0;
  margin: 0;
  border-bottom: 1px dotted $silver;
  display: block;
}

.hint {
  color: lighten($base-colour, 20);
  font-size: 12px;
}

code {
  background-color: rgba($base-colour, 0.1);
  color: $base-colour;
  padding: 3px $half-spacing 4px;
  border-radius: 3px;
  margin-left: 3px;
}
