.docs {
  display: flex;
  flex-wrap: wrap;
}

.doc__content {
  width: 70%;
  padding-top: $base-spacing;

  //@media screen and (min-width: 1000px) {
  //  width: 33%;
  //  border-right: 1px solid #CCC;
  //
  //  &:last-of-type {
  //    border-right: none;
  //  }
  //}
}

.doc__side {
  width: 30%;
  padding-top: $base-spacing;
  padding-left: $base-spacing;
}

//.os-icon {
//  color: #E91E63;
//  text-align: center;
//}
//
//.pre-requisites-header {
//  text-align: center;
//}
//
//.pre-requisites {
//  list-style: none;
//  overflow: scroll;
//  li {
//    display: inline;
//    margin-bottom: 10px;
//
//
//    .hint {
//      color: #1c8ed7;
//      //border: 1px solid #1c8ed7;
//      border-radius: 4px;
//      padding: 10px 10px 10px 0px;
//    }
//  }
//}
//
//
