.docs {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$base-spacing*2;
}

.doc__content {
  width: 100%;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  margin-left: auto;
  padding-left: $base-spacing*2;

  @media screen and (min-width: 700px) {
    width: 70%;
  }
}

.doc__title {
  border-bottom: 1px dotted $silver;
  padding-bottom: $half-spacing/2;
  display: inline-block;
  align-items: center;
  margin-top: $base-spacing*2;
  width: 100%;

  .svg-icon {
    margin-right: $half-spacing;
    width: 1.5em;
    height: 1.5em;
  }

  &:first-child {
    margin-top: 0;
  }

  .back-to-top {
    position: relative;
    top: 5px;
    font-size: 14px;
  }
}

.doc__side-trigger {
  margin: $base-spacing auto 0;
  display: block;
  max-width: 200px;
  text-align: center;
  padding: $half-spacing 45px;
  background: $secondary-colour;
  color: $white;
  text-decoration: none;
  position: relative;
  transition: ease all .3s;
  border-radius: 45px;
  box-sizing: border-box;

  @media screen and (min-width: 700px) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-open {
    background: darken($secondary-colour, 15);
  }
}

.doc__side {
  width: 100%;
  padding-top: $base-spacing;
  padding-left: $base-spacing*2;
  flex-direction: column;
  display: none;

  &.is-open {
    display: block;
  }

  @media screen and (min-width: 700px) {
    width: 30%;
    display: flex;
    max-width: 310px;
  }
}

.doc__side-list {
  list-style: none;
  padding: 0;
}

.doc__side-title {
  font-size: 16px;

  &:first-child {
    padding-top: $half-spacing;
  }

  padding-top: $base-spacing;

  a {
    font-size: inherit;
    color: inherit;
  }
}

.doc__side-link {
  padding: $half-spacing/2 0;
  margin: 0;
  border-bottom: 1px dotted $silver;
  display: block;
  color: $silver;

  &.active {
    color: $secondary-colour;
  }
}

.doc__side-item {
  width: 100%;
  margin: 0;
}

.hint {
  color: lighten($base-colour, 20);
}

code.install__code {
  background-color: rgba($base-colour, 0.05);
  color: $base-colour;
  padding: 0px $half-spacing 2px;
  border-radius: 3px;
  margin-left: 3px;
  border: 1px solid $silver;
}
