.introduction {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$base-spacing;
  padding: $base-spacing*2 0;
}

.introduction__info {
  width: 50%;
  padding-left: $base-spacing;
}

.introduction__video {
  width: 50%;
  padding-left: $base-spacing;
}