.introduction {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$base-spacing;
  padding: $base-spacing*2 0;
}

.introduction__info {
  width: 100%;
  padding-left: $base-spacing;
}

.introduction__video {
  width: 100%;
  padding-left: $base-spacing;

  @media screen and (min-width: $lap-start) {
    width: 50%;
  }

  .terminal--image {
    padding: 10px 0;
  }
}

.requirements {
  list-style: disc;
  padding: 0 0 0 30px;
}

.requirements li {
  display: list-item;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 23px;
  }
}


.installation {
  margin: 0px auto;
  display: block;
  flex-wrap: wrap;
  padding: $base-spacing*2 0;

  h2 {
    text-align: center;
  }
}

.installation__info {
  display: block;
  margin: $base-spacing auto;
  width: 750px;
  max-width: 100%;
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: $base-spacing;

  h2 {
    text-align: center;
  }

  > p {
    text-align: center;

  }
}
