.algolia-autocomplete {
  width: 100%;
}

.aa-dropdown-menu {
  border-color: #eee;
  font-size: 13px;
  margin: 6px 0 0;
  max-width: 450px;
  min-width: 350px;
  box-shadow: 0 1px 0 0
}

.aa-dropdown-menu:before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  z-index: 1000;
  top: -7px;
  border-top: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  transform: rotate(-45deg);
  border-radius: 2px;
  display: block;
  right: 48px;
}

.algolia-docsearch-suggestion {
  border-bottom-color: #eee;
}
/* Main category headers */
.algolia-docsearch-suggestion--category-header {
  background-color: $white;
  color: #333;
  border-radius: 2px;
  padding: 8px;
  font-size: 15px;
  border-bottom: 1px solid #eee;
}

/* Highlighted search terms */
.algolia-docsearch-suggestion--highlight {
  color: $secondary-colour;
}
/* Highligted search terms in the main category headers */
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
  color: $secondary-colour;
  background-color: $white;
}
/* Currently selected suggestion */
.aa-cursor .algolia-docsearch-suggestion--content {
  color: #333;
}
.aa-cursor .algolia-docsearch-suggestion {
  //background: rgba(233, 30, 99, 0.05);
}

/* For bigger screens, when displaying results in two columns */
@media (min-width: 768px) {
  /* Bottom border of each suggestion */
  .algolia-docsearch-suggestion {
    border-bottom-color: #eee;
    border-top: none;
  }

  .algolia-docsearch-suggestion-suggestion {
    border-bottom-color: #eee;
    border-top: none;
  }
  /* Left column, with secondary category header */
  .algolia-docsearch-suggestion--subcategory-column {
    border-right-color: #eee;
    background-color: $white;
  }
}
