.site-footer {

}

.copyright {
  text-align: center;
  background: green;
  padding: $base-spacing;
}

.copyright__text {
  color: $white;
  margin-bottom: $half-spacing;
}

.social-nav {
  display: flex;
  justify-content: center;
}

.social-nav__item {
  margin: 0;
}

.social-nav__link {
  display: block;
  margin: 0;
  //.svg-icon {
  //  width: 1.5em;
  //  height: 1.5em;
  //}
}