nav {
  background: $black;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba($white, 0.2);
  padding: $half-spacing 0;

  .svg-icon {
    width: 1.5em;
    height: 1.5em;
    color: $white;
  }
}

.navigation {
  display: flex;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.navigation__item {
  margin: 0;
  padding-right: $base-spacing;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__link {
  color: $white;
  margin-bottom: 0;
  text-decoration: none;
}

.site-header {
  text-align: center;
  background: $black;
  color: $white;
  padding: $base-spacing*2 0;

  @media screen and (min-width: 600px) {
    padding: $base-spacing*4 0;
  }
}

.logo {
  margin-bottom: $base-spacing;
  .svg-icon {
    height: 11em;
    width: 11em;
  }
}

.header__desc {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto $base-spacing;
}

//.header__link {
//
//}
