.team {
  color: $black;
  text-align: center;
  padding: $base-spacing*2 0;
  background: $white;

  //h2 {
  //  color: $white;
  //}
}

.team__desc {
  max-width: 600px;
  width: 100%;
  margin: 0 auto $base-spacing;
}

.team__list {
  margin-left: -$base-spacing;
  display: flex;
  flex-wrap: wrap;
}

.team__image {
  margin-bottom: $half-spacing;
}

.team__item {
  padding-left: $base-spacing;
  width: 50%;

  @media screen and (min-width: 600px) {
    width: 20%;
  }
}

.team__name {
  font-family: $header-font-family;
  margin-bottom: $half-spacing;
}

.team__role {
  font-family: $header-font-family;
  //color: $silver;
  margin-bottom: 0;
  font-size: 12px;
}