.team {
  text-align: center;
  padding: $base-spacing*2 0;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__desc {
  max-width: 700px;
  width: 100%;
  margin: 0 auto $base-spacing*2;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.team__image {
  margin-bottom: $half-spacing;
  overflow: hidden;
}

.team__item {
  width: 50%;
  margin-bottom: $base-spacing;
  padding: 0 $half-spacing;

  @media screen and (min-width: $lap-start) {
    width: 20%;
    margin-bottom: 0;
  }

  a {
    display: block;
    transition: ease all .3s;
    color: inherit;
  }
}

.team__name {
  font-family: $header-font-family;
  margin-bottom: $half-spacing/2;
}

.team__role {
  font-family: $header-font-family;
  //color: $silver;
  margin-bottom: 0;
  font-size: 12px;
}