.terminal {
  margin-bottom: $base-spacing;
}

.terminal-head {
  border: 1px solid $silver;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  bottom: -1px;
  padding: 5px;
  display: flex;
}

.terminal__button {
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  border-radius: 100%;
  margin-right: $half-spacing;

  &:first-child {
    background-color: #F44336;
  }

  &:nth-child(2n){
    background-color: #FFEB3B;
  }

  &:last-child {
    background-color: #8BC34A;
  }
}

.terminal__body {
  border: 1px solid $silver;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: $half-spacing;
  margin-bottom: $half-spacing;
  font-family: $header-font-family;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  p {
    margin-bottom: $half-spacing;
    &:before {
      content: '$';
      margin-right: 4px;
      color: #10A4B7;
    }
    &:last-child {
      margin: 0;
    }
  }
}

.termianl__meta {
  font-size: 10px;
  color: #480048;
}