.terminal {
  background: $base-colour;
  border-radius: 5px;
}

.terminal-head {
  border: 1px solid $silver;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  padding: 5px;
  display: flex;
  //background: lighten($silver, 19);
  background: linear-gradient(lighten($silver, 15), lighten($silver, 5));
}

.terminal__button {
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  border-radius: 100%;
  margin-right: $half-spacing;
  border: 1px solid $silver;
  background: $white;
}

.terminal__body {
  padding-left: 0;
  margin-bottom: $base-spacing;
  font-family: $header-font-family;
  white-space: nowrap;
  overflow-x: auto;
  color: $white;
  -webkit-overflow-scrolling: touch;

  p {
    margin: 0;
    padding: 0;
    height: $base-spacing+$half-spacing;
    line-height: $base-spacing+$half-spacing;

    &:before {
      content: '$';
      margin-right: 15px;
      color: lighten($secondary-colour, 15);
      font-weight: bold;
      position: relative;
      height: 100%;
      width: 35px;
      text-align: center;
      background-color: rgba(255, 255, 255, .1);
      display: block;
      float: left;
    }
  }
}

.terminal--image {
  padding: 0;

  img {
    width: 100%;
  }
}

//.terminal__body--vid {
//padding-bottom: 100%*(2/3);
//position: relative;
//padding: 0;
//iframe {
//width: 100% !important;
//display: block;
//position: absolute;
//top: 0;
//left: 0;
//}
//}

.termianl__meta {
  font-size: 10px;
  color: $secondary-colour;
  margin-top: -$half-spacing;
  margin-bottom: 0;
}
