h1, h2, h3 {
  line-height: 1;
  font-family: $header-font-family;
  color: $secondary-colour;
  font-weight: 100;
  padding-top: $half-spacing;
}

h1 {
  font-size: $h1-font-size;
  margin-bottom: $base-spacing;
}

h2 {
  font-size: $h2-font-size;
  margin-bottom: $half-spacing;
}

h3 {
  font-size: $h3-font-size;
  padding-top: $half-spacing;
  margin-bottom: $half-spacing;
  color: $black;
}

h4 {
  font-size: 16px;
  padding-top: $half-spacing;
  margin-bottom: $half-spacing;
  font-style: italic;
}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: $half-spacing;
}

ul, ol {
  margin-bottom: $half-spacing;
}

li {
  line-height: $base-line-height;
}

a {
  color: $secondary-colour;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
