$black: #000000;
$white: #ffffff;
$silver: #cccccc;
$yellow: #cccccc;
//$purple: #601848;
//$base-colour: #003540;
$base-colour: #E91E63;
$secondary-colour: #E91E63;

$terminalBg: #003540;

$base-font-family: 'Open Sans', sans-serif;
$header-font-family: monospace;

$base-spacing: 22px;
$half-spacing: $base-spacing/2;