.workshop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px dotted $silver;
    padding: $base-spacing 0;

    @media screen and (min-width: $lap-start) {
    padding: $base-spacing*2 0;
    }
}

.workshop__image {
    width: 100%;
    margin-bottom: $base-spacing;

    img {
        display: block;
        width: 33.33%;
        margin: 0 auto;
    }

    @media screen and (min-width: $lap-start) {
        width: 33.33%;
        img {
            width: 75%;
        }
    }
}

.workshop__info {
    width: 100%;
    @media screen and (min-width: $lap-start) {
        width: calc(66.66% - #{$base-spacing});
    }
}

.workshop__courses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.workshop__course {
    width: 100%;
    @media screen and (min-width: $lap-start) {
        width: calc(33.33% - #{$half-spacing});
    }
}

.workshop__description {
    margin-bottom: $half-spacing;
}