<footer class="site-footer" role="contentinfo">
    <div class="container"></div>
    <div class="copyright">
        <p class="copyright__text">© Copyright 2016</p>
        {{inc src="social-nav.hbs"}}
    </div>
</footer>

{{inc src="ga.hbs"}}
