<header class="site-header">
    <nav class="">
        <div class="container site-nav">
            <ul class="navigation">
                <li class="navigation__item">
                    <a href="#help" class="navigation__link">Need Help?</a>
                </li>
            </ul>
            {{inc src="social-nav.hbs"}}
        </div>
    </nav>
    <div class="container">
        <figure class="logo">{{inc src="icon.hbs" name="logo"}}</figure>
        <h1 class="header__title">Open Source Learning for PHP</h1>
        <p class="header__desc">A revolutionary new way to learn PHP. Bring your imagination to life in an open learning eco-system.</p>
        <a href="#getting-started" class="header__link button">Get Started</a>
        <span class="curser">{{inc src="icon.hbs" name="cursor"}}</span>
    </div>
</header>
