<header class="site-header">

    {{inc src="site-nav.hbs"}}

    <div class="container">
        <h1 class="sub-header__title">Install</h1>
        <p class="sub-header__desc">If you are having trouble installing PHP School then you may need to update your version of PHP before installing composer.</p>
        <span class="curser"><svg class="svg-icon"><use xlink:href="/img/icons/icons.svg#svg-cursor"></use></svg></span>
    </div>
</header>
