<nav class="">
    <div class="container site-nav">
        <ul class="navigation">
            {{#if_eq page.url '/'}}
                <li class="navigation__item">
                    <a href="#help" class="navigation__link">Need Help?</a>
                </li>
                <li class="navigation__item">
                    <a href="/install" class="navigation__link">Installation</a>
                </li>
            {{else}}
                <li class="navigation__item">
                    <a href="/" class="navigation__link">Home</a>
                </li>
            {{/if_eq}}
        </ul>
        {{inc src="social-nav.hbs"}}
    </div>
</nav>
