.idea
node_modules
.DS_Store
npm-debug.log
/vendor/
/logs/*
!/logs/README.md
/cache/
/config/database.yml
/.phpunit.result.cache

.docker/db/*
.docker/mysql/*

/public/workshops.json
/public/uploads
/public/blog
.env
/var
/log