version: '2'

services:
  php:
    container_name: php-school-fpm
    build:
      context: .
      dockerfile: .docker/files/php-school-fpm/Dockerfile
    volumes:
      - .:/var/www/html
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE=phpschool
      - MYSQL_USER=phpschool
      - MYSQL_PASSWORD=phpschool
      - SEND_GRID_API_KEY
      - SEND_GRID_SENDER_EMAIL=phpschool.team+test@gmail.com
      - CACHE.FPC.ENABLE=false
      - CACHE.ENABLE=false
      - REDIS_HOST=redis
      - DISPLAY_ERRORS=true
      - XDEBUG_CONFIG="idekey=PHPSTORM"
    ports:
      - 9000
    depends_on:
      - "db"

  db-data:
    container_name: php-school-db-data
    image: tianon/true
    volumes:
          - "./.docker/mysql:/var/lib/mysql"
          - "./.docker/db/:/docker-entrypoint-initdb.d/"

  db:
    container_name: php-school-db
    image: mysql:latest
    volumes_from:
        - "db-data"
    ports:
      - "3306"
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=phpschool
      - MYSQL_USER=phpschool
      - MYSQL_PASSWORD=phpschool

  nginx:
    container_name: php-school-nginx
    image: nginx:latest
    links:
      - php
    ports:
      - 8000:80
    volumes:
      - .docker/files/nginx-dev.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html

  redis:
    container_name: php-school-redis
    image: redis
    ports:
      - "6379"
