.svg-icon {
    display: inline;
    margin-right: 13.5px;
    width: 1.5em;
    height: 1.5em;
}

body {
    background: #1D1D1D;
}

.left_col {
    background: #1D1D1D;
}

.nav-md ul.nav.child_menu li:after {
    border-left-color: #E91E63;
}

.nav-md ul.nav.child_menu li:before {
    background: #E91E63;
}

.nav_title {
    background: #E91E63;
    text-align: center;
    text-transform: uppercase;
    color: white;
    height: auto;
}

.page-title {
    color: white;
}

.site_title {
    padding: 0px;
    height: auto;
}

.site_title img {
    width: 90px;
    padding: 5px;
}

.nav.side-menu > li.active > a {
    background: none;
}

.nav.side-menu>li.current-page, .nav.side-menu>li.active {
    border-right: 5px solid #E91E63;
}

body .container.body .right_col {
    background: black;
    color: #1D1D1D;
}

.nav_menu {
    color: white;
    height: 89px;
    background: #CF1B58;
    border-bottom: none;
}

#menu_toggle {
    color: white;
}

#menu_toggle:hover {
    color: black;
}

.nav.toggle {
    padding-top: 29px;
}

.nav.navbar-nav > li > a {
    color: white !important;
}

.top_nav .navbar-right > li > a{
    line-height: 89px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.top_nav .navbar-right > li > a:hover, .top_nav .navbar-right > li > a:focus {
    background: black;
}

.top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover, .top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover {
    background: black;
}

.x_content {

}

.x_panel, .dashboard_graph {
    border-radius: 4px;
    padding: 0px;
    border: none;
}

.x_title {
    background: #E91E63;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
}

.table > tbody > tr:first-child > td, .table > tbody > tr:first-child > th {
    border-top: none;
}