<?php

return [
    'config' => [
        'enablePageCache' => false,
        'enableCache' => false,

        'doctrine' => [
            'connection' => [
                'user'     => 'phpschool',
                'password' => 'phpschool',
            ]
        ]
    ]
];
