.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: $base-spacing 0;
    width: 100%;
    border-bottom: 1px dashed $silver;

    @media screen and (min-width: $lap-start) {
        padding: $base-spacing*2 0;
    }
}

.introduction__info {
    width: 100%;
    max-width: $lap-start;
    text-align: center;
    margin: 0 auto $half-spacing;
}

.introduction__title {
    padding-top: 0;
}

.introduction__image {
    margin-bottom: $base-spacing;
    position: relative;

    @media screen and (min-width: $palm-start) {
        width: calc(33.33% - #{$half-spacing});
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
        &:after {
            display: none;
        }
    }

    &:before, &:after {
        display: none;
        @media screen and (min-width: $palm-start) {
            display: block;
        }
    }

    &:before {
        content: '';
        width: 100%;
        border-top: 1px dashed $blue;
        position: absolute;
        top: $half-spacing;
    }
    &:after {
        content: '';
        border: 1px dashed $blue;
        width: $base-spacing;
        height: $base-spacing;
        position: absolute;
        top: 0;
        right: -$base-spacing;
        border-radius: 100%;
        z-index: 1;
        background: url("/img/svg/arrow.svg") no-repeat center $white;
        background-size: 50%;
    }
}

.introduction__caption {
    text-align: center;
    margin-bottom: $half-spacing;
    color: $blue;
    font-size: 16px;
}

.introduction__step {
    z-index: 1;
    position: relative;
    display: block;
    margin: 0 auto $half-spacing/2;
    text-align: center;
    width: $base-spacing;
    height: $base-spacing;
    line-height: $base-spacing;
    background-color: $blue;
    border-radius: 100%;
    color: $white;
}

.requirements {
    list-style: disc;
    padding: 0 0 0 30px;
}

.requirements li {
    display: list-item;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 23px;
    }
}
