.form {
    margin-bottom: $base-spacing;
}

//Form section
.field {
    margin-bottom: $base-spacing;

    p.info {
        margin-top: -8px;
        padding-bottom: 0px;
        margin-bottom: $half-spacing;
        font-size: 12px;
        color: #aaa;
    }
}

// wrapper for input
.input-box {
}

// input field
.input-text {
    height: $button-height;

    &:focus {
        border-color: $secondary-colour;
        outline: none;
    }
}

label {
    margin-bottom: $half-spacing;
    display: block;
    font-weight: 700;

    span.required {
        color: $secondary-colour;
    }
}

input, textarea, select {
    border: 1px solid $silver;
    border-radius: 100px;
    max-width: 45em;
    width: 100%;
    padding: $half-spacing;
    font-size: $base-font-size;
    &:-webkit-autofill {
        background-color: transparent !important;
    }
}

.form__errors {
    margin: $half-spacing 0 0;
    padding: $half-spacing;
    color: $red;
    font-size: $small-font-size;
    border-left: 4px solid $red;
    list-style: none;

    display: none;

    &.active {
        display: block;
    }

    li {
        margin-bottom: $half-spacing;
        &:last-child {
            margin: 0;
        }
    }

}

.form__success {
    margin: $half-spacing 0 0;
    padding: $half-spacing;
    color: $green;
    font-size: $small-font-size;
    border-left: 4px solid $green;
    list-style: none;

    display: none;

    &.active {
        display: block;
    }

    li {
        margin-bottom: $half-spacing;
        &:last-child {
            margin: 0;
        }
    }

}
